.cardtitle {
  color: var(--leia-color);
}
.cardlogin {
  background-color: var(--darthvader-color);
  margin-bottom: 50px;
  border-color:  var(--r2d2-color);
  // background: url('assets/nueva-carpeta/img/img/death-star.jpg') ;
}

.btnlogin {
  color: var(--leia-color);
  border-color: var(--luke-color);

}
.btnlogin:hover {
  color: var(--r2d2-color);
  border-color: var(--chewee-color);
  background: var(--darthvader-color);
}

.btn-link {
  color: var(--luke-color);
  text-decoration: underline var(--luke-color);
}
.btn-link:hover {
  color: var(--r2d2-color);
  text-decoration: underline var(--chewee-color);
}

.miBoton {
  background-image: url('../../../assets/nueva-carpeta/img/logos/mandologin.png');
  background-size: cover;
  margin-bottom: 120px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: none;
  transition: transform 0.3s ease;

}
.miBoton:active {
  transform: scale(0.95);
}

#textoConEfecto {
  display: block;
  font-size: 16px;
  white-space: pre-line;
  color: var(--leia-color);
  margin-top: 20px;
  opacity: 1;
  white-space: nowrap;
  animation: typing 2s steps(40) 1s forwards, fadeIn 2s 3s forwards;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

