<div class="container align-items-center">

  <div class="d-flex">
      <p class="d-flex justify-content-center text-white mt-2">MAY THE FORCE BE WITH YOU</p>
  </div>

  <div class="d-flex" [routerLink]="['../home/home.component.html']">
    <a href="#"><img class="d-flex justify-content-center px-5" src="../../../assets/nueva-carpeta/img/logos/starwars-white.png" height="40" alt="">
    </a>
  </div>

  <div class="d-none d-lg-flex ">
    <div class="social-links gap-3 mt-3 pt-2 d-flex">

      <div class="social-icon">
        <a class="url-icon" rel="noopener noreferrer" href="https://www.tiktok.com/@starwars" target="_blank">
          <img class="icon-img" src="../../../../assets/nueva-carpeta/img/logos/tiktok.svg" alt="tiktok-svg">
        </a>
      </div>
      <div class="social-icon">
        <a class="url-icon" rel="noopener noreferrer" href="https://www.instagram.com/starwars/" target="_blank">
          <img class="icon-img" src="../../../../assets/nueva-carpeta/img/logos/instagram.svg" alt="instagram-svg">
        </a>
      </div>
      <div class="social-icon">
        <a class="url-icon" rel="noopener noreferrer" href="https://twitter.com/starwars" target="_blank">
          <img class="icon-img" src="../../../../assets/nueva-carpeta/img/logos/twitter.svg" alt="twitter-svg">
        </a>
      </div>
      <div class="social-icon">
        <a class="url-icon" rel="noopener noreferrer" href="https://www.facebook.com/StarWars" target="_blank">
          <img class="icon-img" src="../../../../assets/nueva-carpeta/img/logos/facebook.svg" alt="facebook-svg">
        </a>
      </div>
      <div class="social-icon">
        <a class="url-icon" rel="noopener noreferrer" href="https://www.youtube.com/user/starwars" target="_blank">
          <img class="icon-img" src="../../../../assets/nueva-carpeta/img/logos/youtube.svg" alt="youtube-svg">
        </a>
      </div>
    </div>
  </div>

</div>
